.main{
    position: absolute;    
    width: 100%;    
    height: 200%;
    display: flex;
    flex-direction: column;
}
.main .backimg{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url('/src/image/book.jpg');          
}
.detail{
    margin: 2rem;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
}
.detail h1{
    margin-top: 2.5rem/* 40px */;
    margin-bottom: 2.5rem/* 40px */;
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    font-family: SebangGothic;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}
.detail p{
    font-size: 3.4vh/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-family: SebangGothic;
    font-family: SebangGothic;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    --tw-text-opacity: 1;
    color: rgba(249, 250, 251, var(--tw-text-opacity));
    overflow: hidden;
    white-space : nowrap; 
    text-overflow: clip;
}
.main .backimg2{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/src/image/work.png');   
}
.detail2{
    margin: 2rem;
    padding-top: 2rem;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
}
.detail2 h1{
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    font-family: SebangGothic;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}
.detail2 p{
    font-size: 3.4vh/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-family: SebangGothic;
    font-family: SebangGothic;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    --tw-text-opacity: 1;
    
    overflow: hidden;
    white-space : nowrap; 
    text-overflow: clip;
}
.slider{
    width: 100%;
    height: 100%;    
    padding-top: 5vh;    
}
.detail2 .box{
    position: relative;
    width: 100%;
    height: 50vh;
    background: none;
    padding: 5px;
    border-radius: 20px;               
}
.detail2 .card{
    position: relative;
    width: 100%;
    height: 100%;
    background: white;   
    padding: 15px; 
    border-radius: 20px;        
    border: 0.5px solid black;    
    margin-right: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);        
}