@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'NotoSansKR';
        font-weight: 500;
        src: url('fonts/NotoSansKR/NotoSansKR-Regular.otf');
    }
    
    @font-face {
        font-family: 'SebangGothic';
        font-weight: 500;
        src: url('fonts/SebangGothic/SEBANG-Gothic.otf');
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}